.hero-section {
    background: linear-gradient(90deg, #FFFFFF 1%, rgba(255, 255, 255, 0) 75.6%), url("../images/hero/background.png");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
}

.hero-column {
    width: 160;
    display: block;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}

.hero-text {
    text-align: left;
}

.hero-text span {
    color: #8A53FF;
}

.hero-title {
    font-size: 73px;
    width: 600px;
    font-family: "ChangaOne";
}

.hero-description {
    font-size: 22px;
    font-family: Roboto;
    width: 500px;
    margin-top: 20px;
    color: #333;
}

.hero-actions {
    margin-top: 20px;
    font-size: 16px;
    font-family: Roboto;
    display: flex;
    align-items: center;
}

.hero-actions-button-share {
    padding: 16px 20px;
    background-color: #8A53FF;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
}

.hero-actions-button-highlights {
    display: flex;
    align-items: center;
    color: #333;
    cursor: pointer;
    position: relative;
}

.highlight-icons {
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.highlight-icons img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.highlight-icons img:first-child {
    z-index: 1;
}

.highlight-icons img:last-child {
    padding: 10px 6px 10px 10px;
    z-index: 2;
}
