.recent-section {
    padding: 120px 0px;
}

.recent-text-row {
    text-align: center;
}

.recent-subtitle {
    color: #8A53FF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
}

.recent-title {
    font-family: ChangaOne;
    font-weight: normal;
    font-size: 39px;
}

.recent-story-block {

}

.recent-story-block-left {

}

.recent-story-block-right {

}