.share-section {
    background: url(../images/share/share_background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 50px 0px;
    height: 825px;
    width: 100%;
}

.share-form-header {
    text-align: center;
    margin-bottom: 20px;
}

.share-form-header-subtext {
    font-family: Roboto;
    font-weight: 700;
    color: #8A53FF;
    font-size: 18px;
    margin-bottom: 5px;
}

.share-form-header-title {
    font-family: ChangaOne;
    font-size: 39px;
    margin-bottom: 10px;
}

.share-container {
    max-width: 500px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.share-form-text {
    margin-bottom: 20px;
    text-align: left;
}

.share-form-text-share {
    font-family: ChangaOne;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 15px;
}

.share-form-text-suggest {
    color: #576074;
}

.share-form-fields .field {
    margin-bottom: 15px;
}

.field input, .field select, .field textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #0000003B;
    border-radius: 4px;
    font-size: 16px;
    color: #00000099;
    font-family: Roboto;
}

.field textarea {
    resize: vertical;
    height: 100px;
}

.share-form-button {
    align-self: last baseline;
    text-align: left;
}

.share-form-button button {
    background: #8A53FF;
    color: #FFF;
    font-size: 16px;
    padding: 10px 60px;
    border-radius: 4px;
    cursor: pointer;
}