@font-face {
    font-family: 'Black Signature PERSONAL USE ONLY';
    font-style: italic;
    font-weight: 400;
    src: local('Black Signature PERSONAL USE ONLY'), url('https://fonts.cdnfonts.com/s/65636/BlackSignaturePersonalUseOnlyRegular-DOyj1.woff') format('woff');
}